@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    /* font-family: 'Josefin Sans', sans-serif; */
}
.App{
    height: 100vh;
}
.Main{
    display: grid;
    grid-template-columns: 14rem auto;
    position: relative;
    height: 100%;
}
.SideNavbar{
    /* border: 1px solid black; */
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.123);
    height: 100%;
    /* padding:0 1rem; */
    background-color: #fff;
}

.NavLinks{
    list-style: none;
    padding: 1rem 0;
}
.navLink {
    text-decoration: none;
}
.navLink .Link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color: #393e46;
    padding: 0.5rem 0;
    padding-left: 1rem;
    /* margin-bottom:0.2rem ; */
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: 300ms all ease;
    /* border: 1px solid black; */
}
.navLink .Link:hover{
    /* padding-left: 1.3rem; */
    /* background-color: #9ba6a5; */
    /* border-left: 3px solid black;
    border-right: 3px solid black; */
    color: black;
}
.navLink .Link p{
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.LinkActive{
    background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    padding-left: 2rem !important;
    color: black !important;
    /* border-left: 4px solid rgb(39, 176, 255) !important; */
    border-right: 4px solid rgb(39, 176, 255) !important;
}

.subnavLINKS{
    /* border: 1px solid black; */
    display: block;
    background-color: #eeeeee;
    transition: 300ms all ease;
}
.subnavLINKS_Hide{
    display: none;
}
.subnavLink{
    text-decoration: none;
}
.subnavLink li {
    display: flex;
    justify-content: left;
    color: #393e46;
    padding: 0.6rem 0;
    padding-left: 1.5rem;
    font-weight: 500;
    align-items: center;
    font-size: 0.9rem;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: 300ms all ease;
}
.subnavLink li:hover{
    padding-left: 2rem;
    background-color: transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
.subnavLink li span{
    font-size: 1.2rem;
}

.Navbar{
    padding: 0.7rem 0.5rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.089);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head{
    display: flex;
    gap: 0.1rem;
    align-items: center;
    padding: 0rem 0;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #363636;
    
}
.head span{
    font-size: 2rem;
}
.Navbar div:nth-child(2){
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #363636;
}
.Navbar div span:nth-child(2){
    cursor: pointer;
}
.DataContainer{
    /* border: 1px solid black; */
    padding: 1rem 2rem;
}

.breadcrumb{
    /* border: 1px solid black; */
   display: flex;
   justify-content: right;
   margin-bottom: 1rem;
}
.breadcrumb span{
   display: flex;
   align-items: center;
   font-weight: 500;
   color: #363636;
}
.breadcrumb span a{
    text-decoration: none;
    margin: 0 0.2rem;
    gap: 0.1rem;
    color: #363636;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.breadcrumb span a span{
    font-size: 1.2rem;
}

.Header{
    /* border-bottom: 2px solid #36363648; */
    box-shadow: 0px 0px 5px #36363636;
    padding: 0.7rem;
   border-radius: 3px;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Header a{
    background: #fff;
    border: #363636 1px solid;
    text-decoration: none;
    padding: 0.4rem 0.6rem ;
    color: #363636;
    font-weight: 500;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: 300ms all ease;
}
.Header a:hover{
    background-color: #363636;
    color: #fff;
}
.Header h2{
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    gap: 0.2rem;
    color: #363636;
}
.Header h2 span{
    font-size: 1.8rem;
}

.SponserIMG{
    height: 5rem;
}
.DashBoardCARDS{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.CARD{
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px #393e46;
    height: 7rem;
    gap: 0.5rem;
    padding: 0.6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.CARD:nth-child(2){
    box-shadow: 0px 0px 5px #7c73e6;
    
}
.CARD:nth-child(2) p {
    color: #7c73e6 !important;
}
.CARD:nth-child(2) span {
    color: #7c73e6 !important;
}

.CARD:nth-child(3){
    box-shadow: 0px 0px 5px #00aaa0;
    
}
.CARD:nth-child(3) p {
    color: #00aaa0 !important;
}
.CARD:nth-child(3) span {
    color: #00aaa0 !important;
}
.CARD p{ 
    font-size: 2.8rem;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    color: #393e46;
}
.CARD p span{
    font-size: 3rem;
}
.CARD > span{
    font-size: 1.5rem;
    font-weight: 700;
    color: #393e46;
    text-transform: uppercase;
}
.IMG_DIV{
    border: 1px solid #36363675;
    border-radius: 4px;
    box-shadow:inset 0px 0px 10px #36363644;
    width: 400px;
    height:180px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
}
.IMG_DIV span{
    font-weight: 500;
    color: #36363688;
}
.IMG_DIV div{
    width:100%;
    height: 100%;
}
.IMG_DIV img{
    height: 100%;
}
.inputFIELD{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 0.6rem;
}
.inputFIELDimg{
    /* border: 1px solid d; */
    margin-bottom: 1rem;
}
.inputFIELDimg label{
    background-color: #363636;
    color: #fff;
    border-radius: 4px;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}
.inputFIELDimg label:hover{
    background-color: #222121;
}
.inputFIELD button{
    cursor: pointer;
    padding: 0.4rem;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 1rem;
    background-color: #363636;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #363636;
}
.inputFIELD label{
    font-size: 1rem;
    outline: none;
    font-weight: 500;
    color: #363636;
    padding: 0.4rem 0;
}
.inputFIELD input{
    border: 1px solid #363636;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    color: #363636;
    padding: 0.4rem 0.4rem;
}
.inputFIELD select{
    border: 1px solid #363636;
    border-radius: 4px;
    font-size: 1rem;
    color: #363636;
    outline: none;
    padding: 0.4rem 0.4rem;
}
.USER_STEP_VIEW{
    width: 55%;
    box-shadow: 0px 0px 5px #3636364d ;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.USER_STEP_VIEW div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #36363631;
}
.USER_STEP_VIEW div p{
    font-weight: 500;
    font-size: 1.1rem;
    color: #363636;
}
.USER_STEP_VIEW div span{
    font-weight: 500;
}
.RESET_PASS{
    width: 55%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #3636364d ;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.HEAD_AT{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.HEAD_AT > div input{
    border: 1px solid #363636;
    border-radius: 4px;
    font-size: 0.9rem;
    outline: none;
    width: 100px;
    color: #363636;
    padding: 0.4rem 0.4rem;
    margin-right: 0.5rem;
}
.RESET_PASS .HEAD_AT button {
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    background-color: #fff;
    color: #363636;
   
    border-radius: 4px;
    transition: 300ms all ease;
    border: 1px solid #363636;
}
.RESET_PASS .HEAD_AT button:hover{
    background-color: #363636;
    color: #fff;
    border: 1px solid #363636;
}
.RESET_PASS .PASSWORD{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.RESET_PASS .PASSWORD input{
    border: 1px solid #36363670;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    color: #363636;
    padding: 0.4rem 0.4rem;
    margin-bottom: 1rem;
}
.RESET_PASS .PASSWORD button{
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    background-color: #363636;
    color: #fff;
    margin-bottom: 1rem;
    border-radius: 4px;
    transition: 300ms all ease;
    border: 1px solid #363636;
}
.RESET_PASS .PASSWORD button:hover{
    background-color: #36363696;
    color: #fff;
    border: 1px solid #363636;
}
.FILTERS{
    box-shadow: 0px 0px 5px #36363636;
    padding: 0.7rem;
    border-radius: 3px;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.FILTERS input{
    border: 1px solid #36363680;
    outline: none;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.9rem;
}
.stepAndDistance{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stepAndDistance p{
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.stepAndDistance p span{
    text-align: center;
}

.ADD_USER{
    box-shadow: 0px 0px 5px #36363636;
}
.ADD_USER .primary {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
.ADD_USER .primary > div{
    display: flex;
    flex-direction: column;
}
.ADD_USER .primary > div label{
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}
.ADD_USER .primary > div input{
    border: 1px solid #3636368a;
    padding: 0.4rem;
    font-size: 0.8rem;
    outline: none;
    border-radius: 4px;
}
.ADD_USER .secondary{
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}
.ADD_USER .secondary > div {
    display: flex;
    flex-direction: column;
}
.ADD_USER .secondary > div label{
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}
.ADD_USER .secondary > div select{
    border: 1px solid #3636368a;
    padding: 0.4rem;
    font-size: 0.8rem;
    outline: none;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.Add_div{
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
}
.Add_div button{
    margin-left: 2rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid #363636;
    border-radius: 4px;
    font-size: 0.8rem;
    background: #fff;
    cursor: pointer;
    transition: 300ms all ease;
}
.Add_div button:hover{
    color: #fff;
    background: #363636;
}
.condition{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.condition select{
    width: 95%;
}
.condition span{
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: 400ms all ease;
}
.condition span:hover{
    background: #3636366e;
   
}
.third  {
    display: flex;
    justify-content: right;
    padding: 1rem;
}
.third button{
    padding: 0.3rem 0.8rem;
    border: 2px solid #363636;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #363636;
    cursor: pointer;
    transition: 300ms all ease;
}
.third button:hover{
    color: #363636;
    font-weight: 600;
    background: #fff;
}